{% load static %}
<!doctype html>
<html lang="kr" class="h-100">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
  <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico">
  <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#563d7c">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/album/">
    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Song+Myung&display=swap"
    rel="stylesheet">
  <!-- Custom CSS Files / 베이스 -->
  <link rel="stylesheet" type='text/css' href="{% static 'css/base.css' %}">
  <!-- Custom CSS Files / 해당 CSS 파일 -->
  <link rel="stylesheet" href="{% block link %} {% endblock %}">
</head>

<body class="d-flex flex-column h-100">
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top header">
      <a href="{% url 'index' %}"><img src='{% static "images/logo.png" %}' class="logo" alt="main_logo"></a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text" href="{% url 'sum' %}">소개</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text" href="{% url 'animal' %}">멸종위기 동물들</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text" href="{% url 'report' %}">제보</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text" href="{% url 'columns_boards' %}">칼럼</a>
          </li>
        </ul>

      </div>
      {% if user.is_authenticated %}
      <span class="badge badge-pill badge-success">{{ user }}</span>
      <a href="{% url 'logout' %}" class="header-menu">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">로그아웃</button>
      </a>
      {% else %}
      <a href="{% url 'login' %}" class="header-menu">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">로그인</button>
      </a>
      <a href="{% url 'signup' %}" class="header-menu">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">회원가입</button>
      </a>
      {% endif %}
    </nav>
  </header>

  {% block main %}
  {% endblock %}

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="footer-container">
      <div class="row mx-auto">
        <div class="col-sm-12 col-md-10">
          <h4>숨탄것</h4>
          <p class="text-justify text">숨탄 것은 생명을 가진 동물을 통칭해서 소중히 여겨 이르는 옛 우리말입니다.<br>우리는 후원의 올바른 가치를 제공하고, 그로 인해 바른 세상을
            함께
            만들어간다고 믿으며, 멸종위기 동물의 개체수 증가를 꿈꿉니다.</p>
        </div>
        <div class="col-sm-12 col-md-2">
          <h4>만든사람들</h4>
          <p class="text-justify text">멋쟁이 사자처럼 8기<br>가짜개발자팀</p>
        </div>
      </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>
</body>

</html>