{% extends 'base.html' %}
{% load static %}
{% block title %}숨탄것 - 회원가입{% endblock %}
{% block link %}{% static 'css/signup.css' %}{% endblock %}

{% block main %}
<div class="container main">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="{% static 'images/mascot_img.png' %}" alt="" width="72" height="72">
        <h2>지구 상에서 사라져가고 있는 나는 누구일까요?</h2>
        <p class="text">회원가입을 완료하고 숨탄것들을 도와주세요</p>
    </div>

    <div class="col-md">
        <h4 class="mb-3 middle-text">회원가입하기</h4>
        <hr class="mb-4">
        <form class="needs-validation" method="POST" novalidate>
            {% csrf_token %}
            {{ regi_form.as_p }}
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="same-address">
                <label class="custom-control-label" for="same-address">개인정보이용에 모두 동의하십니까</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="save-info">
                <label class="custom-control-label" for="save-info">숨탄것들을 사랑할 준비가 되셨습니까</label>
            </div>
            <hr class="mb-4">
            <div class="text-center">
                <input type="submit" class="btn btn-outline-dark" value="회원가입">
            </div>
        </form>
    </div>
</div>
{% endblock %}