{% extends 'base.html' %}
{% load static %}

{% block title %}숨탄것 - 멸종 위기 동물들{% endblock %}
{% block link %}{% static 'css/detail.css' %}{% endblock %}

{% block main %}

 

<div class="card_container">
  {% if column.image %}
        <img src="{{ friend.image.url }}" width="80%" alt="friend_image">
        {% else %}
        <img src="{% static 'images/default_image.png' %}" width="80%" alt="friend_no_image">
        {% endif %}
  <div class="card-body">
    <h1> {{ friend.kor_name}}</h1>
    <h4> {{ friend.level }} </h4>
    <h5> {{friend.scientific_name}} </h5>
    <p> {{friend.description}} </p>
    <br>
    
    <a href="{% url 'donation' %}" class="btn btn-primary" id="buttoncolor">후원하기</a>
    <a href="{% url 'index' %}" class="btn btn-primary" id="buttoncolor">확인</a>
  </div>
</div>

{% endblock %}