/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

.progress {
    height: 10px;
}

#card-center {
    margin-left: 12%;
    margin-top: 100px;
}

h3 {
    font-family: 'Song Myung', serif;
    text-align: center;
}

hr {
    margin-bottom: 50px;
}

h5 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    text-align: center;
}

p {
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
}

#iconcenter {
    text-align: center;
}

.brand {
    margin-top: 200px;
    align-items: center;
}

.brand>img {
    display: block;
    margin: 0px auto;
}

.brand>h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

#images {
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.position {
    color: gray;
    font-family: 'Nanum Gothic', sans-serif;
}