div>h1 {
    font-family: 'Song Myung', serif;
}

.text {
    font-family: 'Nanum Gothic', sans-serif;
    color: brown;
}

.column-form {
    padding-top: 20px;
}

.submit-button {
    margin-bottom: 7rem;
}

.column-body {
    padding-left: 30rem;
    padding-right: 30rem;
}