{% extends 'base.html' %}
{% load static %}
{% block title %}숨탄것 - 칼럼{% endblock %}
{% block link %}{% static 'css/columns.css' %}{% endblock %}


{% block main %}
<main role="main" style="padding-top: 120px;">
    <section class="jumbotron text-center" style="margin:0px;">
        <div class="container">
            <h1 class="hi">우리 모두는 서로의 운명이다</h1>
            <p class="lead text-muted">멸종위기동물과 함께 살아가는 세상을 만들기 위한<br>공존과 화해의 메시지</p>
            {% if user.is_staff %}
            <a href="{% url 'columns_create' %}" class="btn btn-outline-secondary btn-sm float-right">작성하기</a>
            {% endif %}
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for column in column_list %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <p class="card-text">{{ column.title }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'columns_detail' column.id %}"><button type="button"
                                            class="btn btn-sm btn-outline-secondary">자세히 보기</button></a>
                                </div>
                                <small class="text-muted">{{ column.created_at }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}


                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <p class="card-text">6번째 대멸종 진행... <br>20년 내 척추동물 500여종 사라질 위기</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                        onclick="location.href='https://mk.co.kr/news/it/view/2020/06/565014/' ">자세히
                                        보기</button>
                                </div>
                                <!-- <small class="text-muted">1 mins</small> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <p class="card-text">국제 멸종위기 종 샤망,스라소니 <br> 국내 동물원서 처음 나타나</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                        onclick="location.href='http://www.yonhapnews.co.kr/bulletin/2016/08/03/0200000000AKR20160803174300004.HTML'">자세히
                                        보기</button>
                                </div>
                                <!-- <small class="text-muted">3 mins</small> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <p class="card-text">멸종 위기 동물 삵 발견....<br>왜 개체수 감소했나? </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                        onclick="location.href='http://www.newscj.com/news/articleView.html?idxno=231873'">자세히
                                        보기</button>
                                </div>
                                <!-- <small class="text-muted">4 mins</small> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <p class="card-text">"멸종 위기에 처한 동물 함께 지켜요" <br>내셔널지오그래픽 특별전</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                        onclick="location.href='http://news.hankyung.com/article/201711168954H'">자세히
                                        보기</button>
                                </div>
                                <!-- <small class="text-muted">5 mins</small> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <p class="card-text">멸종위기종 '점박이물범'을 지켜주세요 <br>그 많던 동물들은 어디로 갔을까?</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                        onclick="location.href='https://news.sbs.co.kr/news/endPage.do?news_id=N1005263754'">자세히
                                        보기</button>
                                </div>
                                <!-- <small class="text-muted">7 mins</small> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <p class="card-text">서울동물원, 17개월간 286마리 폐사... <br>멸종위기종이 46%</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                        onclick="location.href='https://news.sbs.co.kr/news/endPage.do?news_id=N1003661303'">자세히
                                        보기</button>
                                </div>
                                <!-- <small class="text-muted">18 mins</small> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}