{% extends 'base.html' %}
{% load static %}
{% block title %}숨탄것 - 칼럼{% endblock %}
{% block link %}{% static 'css/columns.css' %}{% endblock %}


{% block main %}
<main role="main" style="padding-top: 120px;">
    <section class="jumbotron text-center" style="margin:0px;">
        <div class="container">
            <h1 class="hi">우리 모두는 서로의 운명이다</h1>
            <p class="lead text-muted">멸종위기동물과 함께 살아가는 세상을 만들기 위한<br>공존과 화해의 메시지</p>
            {% if user.is_staff %}
            <a href="{% url 'columns_create' %}" class="btn btn-outline-secondary btn-sm float-right">작성하기</a>
            {% endif %}
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for column in column_list %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <p class="card-text">{{ column.title }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'columns_detail' column.id %}"><button type="button"
                                            class="btn btn-sm btn-outline-secondary">자세히 보기</button></a>
                                </div>
                                <small class="text-muted">{{ column.created_at }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}